h1{
	font-size: xx-large;
    text-align: center;
    opacity: 0.86;
}
h2{
	font-size: x-large;
    opacity: 0.86;
}
h3{
	font-size: x-large;
    opacity: 0.86;
}
p {
    font-size: large;
    opacity: 0.86;
}
p img {
    background-color: rgba(255, 255, 255, 1);
}
div{
    font-size: large;
    margin: 10px;
    opacity: 0.86;
}
div div{
    font-size: large;
    margin: 10px;
    opacity: 1.0;
}
li{
    font-size: large;
    margin: 10px;
    opacity: 0.86;
}
li li{
    font-size: large;
    margin: 10px;
    opacity: 1.0;
}
a:link{
    color: #0000FF;
    opacity: 1;
    text-decoration: none;
}
a:visited{
    color: #0000FF;
    opacity: 1;
    text-decoration: none;
}
a:hover{
    color: #0000FF;
    opacity: 1;
    text-decoration: underline;
}
html {
    font-family: arial,sans-serif;
    margin-left:150px;
    margin-right:auto;
    width: 800px;
    padding: 100px;
    padding-top:15px;
    background-color: #FFFFFF;
    color: black;
}
#headshot {
    margin: 2px;
    float: right;
}
